@import 'base/variable.scss';
@import 'base/layout.scss';
@import 'partial/header.scss';
@import 'partial/article.scss';
@import 'partial/comment.scss';
@import 'partial/index.scss';
@import 'partial/archive.scss';
@import 'partial/footer.scss';
@import 'partial/syntax.scss';