.archive-title {
  color: $color-meta;
  font-weight: normal;
  &::before {
    padding-right: 15px;
    content: '\f073';
    font-family: $font-icon;
  }
  &.tag {
    &::before {
      content: '\f02b';
    }
  }
  &.category {
    &::before {
      content: '\f07b';
    }
  }
}

.search {
  input {
    box-sizing: border-box;
    padding: 10px 15px 10px 3px;
    width: 100%;
    border: 1px solid $color-border;
    background: #fff;
    color: $color-meta;
    font-size: 14px;
  }
}

.widget {
  margin-bottom: 30px;
  ul.entry {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 2;
    li {
      float: left;
      margin-right: 30px;
    }
  }
  &.tag {
    .archive-title::before {
      content: '\f02b';
    }
    small {
      margin-left: 2px;
      color: $color-meta;
      &::before {
        padding-right: 2px;
        content: '(';
      }
      &::after {
        padding-left: 2px;
        content: ')';
      }
    }
  }
  &.category {
    .archive-title::before {
      content: '\f07b';
    }
  }
}