$icon-size: 32px;
$box-padding: 20px;
$box-padding-s: 10px;

article {
  margin-bottom: 30px;
  font-size: 14px;
  &.page {
    .icon {
      display: none;
    }
  }
  &.post {
    .icon {
      &::before {
        content: '\f016';
      }
    }
  }
  &.photo {
    .icon {
      &::before {
        content: '\f030';
      }
    }
  }

  &.link {
    .icon {
      &::before {
        content: '\f0c1'
      }
    }
    .title {
      a {
        &::after {
          padding-left: 10px;
          color: $color-meta;
          content: '\f08e';
          vertical-align: super;
          font: 12px $font-icon;
        }
      }
    }
  }

  .gallery {
    position: relative;
    overflow: hidden;
    &:hover {
      .control {
        opacity: 1
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      max-width: 100%;
      height: auto;
      opacity: 0;
    }
    .control {
      opacity: 0;
      transition: 0.3s;
    }
    .prev, .next {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      cursor: pointer;
      &::before {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        color: #fff;
        text-align: center;
        font: 24px / 1 $font-icon;
      }
    }
    .prev {
      left: 0;
      &::before {
        left: 10px;
        content: '\f053';
      }
    }
    .next {
      right: 0;
      &::before {
        right: 10px;
        content: '\f054';
      }
    }
  }

  header {
    .meta {
      overflow: hidden;
      height: 30px;
      text-align: center;
      .icon {
        float: left;
        overflow: hidden;
        width: 30px;
        height: 100%;
        background: #E75A30;
        &::before {
          color: #fff;
          font: 20px $font-icon;
          line-height: 36px;
        }
      }
      time {
        display: block;
        float: left;
        padding: 0 10px;
        height: 100%;
        background: #F9B940;
        a {
          display: block;
          color: #fff;
          font-size: 13px;
          line-height: 36px;
        }
      }
    }

    .title {
      font-weight: normal;
      a {
        color: inherit;
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }

  .entry {
    margin-bottom: 15px;
    padding-left: 30px;
    border-top: 1px solid $color-border;
    line-height: 2;

    p, blockquote, ul, ol, dl, table, iframe, h3, h4, h5, h6, .video-container {
      margin-top: 15px
    }

    blockquote {
      padding: 0 30px 15px;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      text-align: center;
      font-style: italic;
      font-size: 1.2em;
      font-family: $font-serif;
      footer {
        margin: 20px 0 0;
        padding-top: 0;
        border-top: none;
        font-size: 0.8em;
        line-height: 1;
        cite {
          &::before {
            padding: 0 0.5em;
            color: #ccc;
            content: '—';
          }
        }
      }
    }

    code, pre {
      font-family: $font-mono
    }

    code {
      margin: 0 2px;
      padding: 0 5px;
      border: 1px solid $color-border;
      border-radius: 3px;
      background: #eee;
      color: #666;
      font-size: 0.9em;
    }
    pre {
      overflow: auto;
      margin-top: 15px;
      padding: 7px 15px;
      border: 1px solid $color-border;
      border-radius: 2px;
      background: #eee;
      code {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
      }
    }

    ul, ol, dl {
      margin-left: 20px;
      padding: 0;
      ul, ol, dl {
        margin-top: 0
      }
    }

    h1, h2 {
      margin-top: 1.5em;
      font-weight: normal;
      line-height: 1;
    }

    h3, h4, h5, h6 {
      font-weight: normal;
      line-height: 1;
    }

    img, video {
      max-width: 100%;
      height: auto;
      border: none;
    }

    iframe {
      border: none
    }

    .caption {
      position: relative;
      display: block;
      margin-top: 5px;
      padding-left: 25px;
      color: $color-meta;
      font-size: 0.9em;
      &::before {
        position: absolute;
        top: 3px;
        left: 0;
        content: '\f040';
        font: 1.3em $font-icon;
      }
    }

    .video-container {
      position: relative;
      overflow: hidden;
      padding-top: 30px;
      padding-bottom: 56.25%;
      height: 0;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .pullquote {
      float: right;
      margin: 1em 0 0.5em 1.5em;
      padding: 0;
      width: 45%;
      border: none;
      text-align: left;
      font-size: 1.5em;
    }

    table {
      border-collapse: collapse;
      td {
        padding: 2px 10px;
        border: 1px solid $color-border;
      }
    }
  }

  footer {
    position: relative;
    margin-left: 30px;
    padding: 10px 0;
    border-top: 1px solid $color-border;
    color: $color-meta;
    line-height: 16px;
    > div {
      position: relative;
      margin: 10px 0;
      padding-left: 25px;
      &::before {
        position: absolute;
        top: 2px;
        left: 1px;
        font: 1.1em $font-icon;
      }
    }
    a {
      padding-right: 1em;
      color: $color-meta;
      &:hover {
        color: $color-link-hover;
      }
    }
    .read-more {
      &::before {
        content: '\f054';
      }
    }
    .disqus-comment {
      &::before {
        content: '\f075';
      }
    }
    .categories {
      &::before {
        content: '\f07b';
      }
    }
    .tags {
      &::before {
        content: '\f02b';
      }
    }
    .addthis {
      margin-top: 15px;
      iframe {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: $width-phone) {
  article {
    .entry {
      text-align: justify;
      padding-left: 0;
    }
    footer {
      margin-left: 0;
      border-top: none;
    }
  }
}
