$margin: 15px;

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 30px 0;
  width: 100%;
  background: $color-background;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  .center {
    .wrap {
      display: table;
      width: 100%;
      > * {
        display: table-cell;
        vertical-align: bottom;
      }
    }
    a {
      color: inherit;
    }
  }
}

#site {
  h1 {
    margin: $margin 0;
  }
  h2 {
    margin: $margin 0;
    font-size: 14px;
  }
}

#menu {
  overflow: hidden;
  ul {
    float: right;
    overflow: hidden;
    margin: $margin 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      margin-left: 50px;
      a {
        font-size: 14px;
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }
}

#header.small {
  padding: 0;
  h1 {
    font-size: 1.5em;
  }
  h2 {
    display: none;
  }
}

@media screen and (max-width: $width-phone) {
  #header {
    padding-bottom: 10px;
    position: absolute;
  }
  #site, #menu {
    display: block !important;
  }
  #site {
    h1 {
      font-size: 1.5em;
    }
  }
  #menu {
    margin-top: 15px;
    ul {
      float: none;
      li {
        margin-left: 0;
        margin-right: 30px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}