html {
  font: {
    family: $font-default;
  }
  background: $color-background;
}

body {
  padding-top: 180px;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link-hover;
    text-decoration: none;
  }
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    content: '';
  }
}

.center {
  margin: auto;
  min-width: 300px;
  max-width: $width-wide;
}

@media screen and (max-width: $width-wide + 60) {
  .center {
    margin: 0 30px;
  }
}

@media screen and (max-width: $width-phone) {
  .center {
    margin: 0 10px;
  }
}