$font-icon-path: 'font/fontawesome-webfont';
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url(#{$font-icon-path}.eot?#iefix) format('embedded-opentype'), url(#{$font-icon-path}.woff) format('woff'), url(#{$font-icon-path}.ttf) format('truetype'), url(#{$font-icon-path}.svg#FontAwesomeRegular) format('svg');
}

// Color
$color-background: #fff;
$color-font: #0D0000;
$color-meta: #4E5359;
$color-border: #7C848C;
$color-link: #63AAFF;
$color-link-hover: #000;

// Font
$font-default: "Microsoft Yahei", sans-serif;
$font-serif: serif;
$font-mono: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-icon: FontAwesome;

// Width
$width-wide: 1200px;
/* 1366 * 768 */
$width-normal: 768px;
/* iPhone 6+ 414px */
$width-phone: 500px;